openapi: 3.0.0
info:
  title: Aicser Platform API
  version: 1.0.0
  description: The Aicser Platform API provides programmatic access to all platform features, from AI-powered chart generation to user management and data analysis. Built with FastAPI and following REST principles, our API is designed for performance, reliability, and ease of integration.

servers:
  - url: https://api.aicser.com/api
    description: Production server
  - url: http://localhost:3000/api
    description: Development server

tags:
  - name: Users
    description: User management and authentication
  - name: Data Sources
    description: Connect and manage data sources

paths:
  # Users Endpoints
  /users:
    get:
      tags:
        - Users
      summary: List all users
      description: Retrieve a list of all users in the system
      operationId: listUsers
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  total:
                    type: integer
                  page:
                    type: integer
    
    post:
      tags:
        - Users
      summary: Create a new user
      description: Create a new user account
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/{userId}:
    get:
      tags:
        - Users
      summary: Get user by ID
      description: Retrieve a specific user by their ID
      operationId: getUserById
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
    
    put:
      tags:
        - Users
      summary: Update user
      description: Update an existing user's information
      operationId: updateUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    
    delete:
      tags:
        - Users
      summary: Delete user
      description: Delete a user from the system
      operationId: deleteUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: User deleted successfully
        '404':
          description: User not found

  # Data Sources Endpoints
  /data/sources:
    get:
      tags:
        - Data Sources
      summary: List all data sources
      description: Retrieve a list of all connected data sources
      operationId: listDataSources
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataSources:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataSource'
    
    post:
      tags:
        - Data Sources
      summary: Create data source
      description: Connect a new data source
      operationId: createDataSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataSourceRequest'
      responses:
        '201':
          description: Data source created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'

  /data/sources/{dataSourceId}:
    get:
      tags:
        - Data Sources
      summary: Get data source by ID
      description: Retrieve a specific data source by its ID
      operationId: getDataSourceById
      parameters:
        - name: dataSourceId
          in: path
          required: true
          description: The unique identifier of the data source (e.g., db_postgresql_1768796333)
          schema:
            type: string
            example: db_postgresql_1768796333
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
    
    put:
      tags:
        - Data Sources
      summary: Update data source
      description: Update an existing data source configuration
      operationId: updateDataSource
      parameters:
        - name: dataSourceId
          in: path
          required: true
          description: The unique identifier of the data source (e.g., db_postgresql_1768796333)
          schema:
            type: string
            example: db_postgresql_1768796333
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDataSourceRequest'
      responses:
        '200':
          description: Data source updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
    
    delete:
      tags:
        - Data Sources
      summary: Delete data source
      description: Remove a data source connection
      operationId: deleteDataSource
      parameters:
        - name: dataSourceId
          in: path
          required: true
          description: The unique identifier of the data source (e.g., db_postgresql_1768796333)
          schema:
            type: string
            example: db_postgresql_1768796333
      responses:
        '204':
          description: Data source deleted successfully

  /data/sources/{dataSourceId}/test:
    post:
      tags:
        - Data Sources
      summary: Test data source connection
      description: Test the connection to a data source
      operationId: testDataSource
      parameters:
        - name: dataSourceId
          in: path
          required: true
          description: The unique identifier of the data source (e.g., db_postgresql_1768796333)
          schema:
            type: string
            example: db_postgresql_1768796333
      responses:
        '200':
          description: Connection test successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          example: "usr_123456"
        email:
          type: string
          format: email
          example: "user@example.com"
        name:
          type: string
          example: "John Doe"
        role:
          type: string
          enum: [admin, user, viewer]
          example: "user"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    CreateUserRequest:
      type: object
      required:
        - email
        - name
        - password
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        password:
          type: string
          format: password
        role:
          type: string
          enum: [admin, user, viewer]
          default: user
    
    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, user, viewer]
    
    DataSource:
      type: object
      properties:
        id:
          type: string
          example: "db_postgresql_1768796333"
          description: "Unique identifier with prefix indicating database type and timestamp"
        name:
          type: string
          example: "Production Database"
        type:
          type: string
          enum: [postgresql, mysql, mongodb, bigquery, s3]
          example: "postgresql"
        config:
          type: object
          properties:
            host:
              type: string
            port:
              type: integer
            database:
              type: string
        status:
          type: string
          enum: [connected, disconnected, error]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    CreateDataSourceRequest:
      type: object
      required:
        - name
        - type
        - config
      properties:
        name:
          type: string
        type:
          type: string
          enum: [postgresql, mysql, mongodb, bigquery, s3]
        config:
          type: object
          properties:
            host:
              type: string
            port:
              type: integer
            database:
              type: string
            username:
              type: string
            password:
              type: string
              format: password
    
    UpdateDataSourceRequest:
      type: object
      properties:
        name:
          type: string
        config:
          type: object

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
